@import-normalize;

* {
  font-family: sans-serif;
  color: white;
}

button {
  color: black;
}

body {
  margin: 0;
  background: #20232a;
  min-height: 100vh;
}

#root {
  padding: 20px;
}

.example-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.example-link {
  padding: 16px 32px;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.example-link:hover {
  color: #61dafb;
  border-color: #61dafb;
}
